<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a>
  <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Fruta</a>
  <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a>
  <a [routerLink]="['/coches']" [routerLinkActive]="['activado']">Coches</a>
  <a [routerLink]="['/plantillas']" [routerLinkActive]="['activado']">Plantillas</a>
  <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a>
</nav>
  <hr>
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<hr>
<!-- <fruta></fruta> -->
<!-- <empleados></empleados> -->
<router-outlet></router-outlet>
<hr>
